.top-nav {
  width: 100vw;
  height: 75px;
  //   background-color: grey;
  position: relative;
  .k-logo {
    background-image: url(../images/keurig-logo.svg);
    width: 175px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
    top: 35px;
    left: 40px;
  }

  .srch-bar {
    position: absolute;
    top: 30px;
    left: 365px;
    width: 600px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(230, 229, 229);
    border: 1px rgb(204, 201, 201) solid;

    span {
      background-image: url(../images/srch-logo.png);
      width: 25px;
      height: 25px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 7px;
      left: 17px;
    }

    p {
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: black;
      font-size: 14px;
      position: absolute;
      top: 12px;
      left: 50px;
    }
  }

  .ship-tag {
    width: 180px;
    position: absolute;
    top: 47px;
    right: 143px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .login {
    background-image: url(../images/profile-Icon.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
    top: 38px;
    right: 93px;
  }

  .cart {
  }
}

nav {
  margin-top: 10px;
  width: 85%;
  height: 45px;
  //   background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
  }
  span {
    background-image: url(../images/deal-icon.svg);
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(156, 26, 26);
    // margin-right: -8px;
    //   position: absolute;
    //   left: 10px;
  }
  .deals {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    span {
      background-image: url(../images/deal-icon.svg);
      width: 10px;
      height: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: rgb(156, 26, 26);
      // margin-right: -8px;
      //   position: absolute;
      //   left: 10px;
    }
    a {
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      color: rgb(156, 26, 26);
      font-size: 14px;
      // margin-left: -8px;
    }
  }
}
